
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made by The SangamNews. Copyrights 2023</p>
    <a class="tocu" href="/toc">Terms of Condition</a>
    <a class="ppu" href="/privacy">Privacy Policy</a>
  </div>
  <div class="footer-links"> 

  </div>
</div>
</body>
</html>
