<%- include("partials/header"); -%>
<h1>Contact</h1>
<p> <%= contactStarting%> </p>
<p>

  We would love to hear from you! If you have any questions, suggestions, or feedback, please feel free to get in touch with us using the contact information provided below. We are here to assist you and ensure that your experience with SangamNews is exceptional.
  </p>
  <p>
  Email:
  </p>
  <p>
    For general inquiries, please email us at: sangamnewsparner@gmail.com
    </p>
  <p>
    We strive to respond to all inquiries promptly, and our team will make every effort to address your message as soon as possible. Please note that our office hours are Monday - Friday: 9am to 6pm, and responses may be delayed during non-office hours or holidays.
    </p>
  <p>
    We value your feedback and appreciate your engagement with our news. Your input is essential in helping us improve our services and provide you with the best possible news experience.
    </p>

  <p>
    Thank you for choosing SangamNews as your trusted source for unbiased news. We look forward to hearing from you!
    </p>
  <p>
    Sincerely,
    </p>
    <p>
      The SangamNews Team
      </p>

<%- include("partials/footer"); -%>
